@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

#movieInfo {
    display: flex;
    width: 70%;
    background-color: rgba(101, 14, 105, 0.74);
}

#moviePoster {
    max-width: 300px;
}

#movieData {
    display: flex;
    flex-direction: column;
}

#movieTitle {
    font-family: 'Montserrat', sans-serif;
    color: rgb(168, 168, 168);
    margin: 0 0 0 0;
    background-image: linear-gradient(to right, rgba(101, 14, 105, 0.74), rgba(0, 0, 0, 0) );
}

